/*
    Name: Angela Xia
    Date created: 4/25/2025 
    Date last edited: 4/30/2025
    Description: Homework 4 CSS Form
*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:#df8a9583;
    transition: background-color 0.4 easy-in-out;
    z-index: 1000;
}

header.scrolled {
    background-color: #df8a9583;
    opacity: 1.0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #df8a9583;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

form {
    flex-grow: 1;
}

h1 {
    text-align:  center;
    font-family:"Gill Sans", Calibri;
    font-weight: 560px;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: "Copperplate", fantasy;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td {
    text-align: right;
    font-family:"optima", sans-serif;
    font-weight: normal;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color:#df8a9583;
    height: 2.0 rem;
}

#footer {
    text-align: right;
    font-family: "optima", sans-serif; 
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: "optima", sans-serif; 
    font-weight: normal;
}

input {
    text-align: left;
    font-family: "optima", sans-serif; 
    font-weight: normal;
}

.error {
    color: red;
    font-size: 12px;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

.password-message {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
    margin-top: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 10px; /* Add space between children */
}

#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    margin: 0 auto;
    width: 500px;
    background-color: hotpink;
    padding: 10px;
    border: 1px solid;
    border-spacing: 2px;
    border-radius: 20px;
    table-layout: fixed;
    word-wrap: break-word;
    color: black;
}
td.output {
    text-align: center;
    width: 500px;
    background-color: hotpink;
    padding: 10px;
    border-spacing: 2px;
}

#showInput {
    text-align: center;
}

#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(139, 0, 0, 0.4);
}

#alert-content {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 20%;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
   margin-top: 20%;
   font-size: 20px;
   text-align: center;
   font-family: "optima", sans-serif;
   font-weight: normal;
}

#close-alert {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: rgba(139, 0, 0, 0.4);
    border-color: rgba(139, 0, 0, 0.4);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
}

.iframe-container {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 300px;
    height: 700px;
    overflow: hidden;
    margin-top: 20px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#welcome1 {
    margin-top: 20%;
    font-size: 25px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#welcome2 {
    margin-top: 20%;
    font-size: 25px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}